.welcome-container {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  padding: 4rem;
}

.faq {
  background-image: url('/public/images/backgrounds/solidago.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  padding: 4rem;
  opacity: 0.8;
}

.faq > h1 {
  color: #696969;
  font-size: 75px;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq > p {
  margin-top: 0px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.faq > br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 20%;
}